optimum~=1.18.0
transformers~=4.38.2
auto-gptq
torch~=2.2.1
AutoAWQ
sentence-transformers
datasets~=2.16.1
bitsandbytes
nvidia-ml-py3
pyarrow==11.0.0
tqdm~=4.65.0
numpy~=1.26.3
nltk~=3.8.1
ctransformers~=0.2.27